  :root {
    --cream: #A8F4EE;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    --shadow1: 0 0 5px rgba(0, 0, 0, 0.5);
    --font: 'Sacramento', cursive;
    --fontsans: 'Work Sans', sans-serif;
    --fontdosis: 'Dosis', sans-serif;
  }
  body {
    font-size: 1, 2rem;
    font-family:var(--font);
    min-height: 2000px;
  }
  
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/bangsurya.jpg);
    z-index: -1;
    background-size: cover;
    background-position: center;
    filter: blur(3px);
  }
  
  .mynavbar {
    background-color: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(1px);
  }
  
  .mynavbar .offcanvas {
    height: 100vh;
  }
  
  .mynavbar .navbar-brand,
  .mynavbar .offcanvas-title {
    font-family: var(--font);
    font-size: 4rem;
  }
  
  .mynavbar .nav-link {
    font-family: var(--fontdosis);
    font-size: 0, 5rem;
    text-transform: uppercase;
    text-shadow: var(--shadow1);
    font-weight: bolder;
  }

  .mynavbar .navbar-brand{
    text-shadow: var(--shadow1);
  }
  
  .hero {
    position: relative;
    min-height: 100vh;
  }
  
  .hero h1,
  h4,
  p {
    text-shadow: var(--shadow);
    font-weight:lighter;
  }
  
  .hero p {
    font-size: 2rem;
    font-family: var(--font);
  }
  .hero h4 {
    font-size: 5rem;
    font-family: var(--font);
  }
  .hero h1 {
    font-size: 3rem;
    font-family: var(--font);
  }
  
  .hero a {
    color: black;
    background-color: var(--cream);
    box-shadow: var(--shadow);
  }
  
  .hero a:hover {
    background-color: var(--bg);
    color: var(--cream);
  }
  
  .home {
    background-image: url(img/wt1.png);
    background-size: cover;
    min-height: 100vh;
    margin-top: -6rem;
    padding-top: 15rem;
    padding-bottom: 5rem;
  }
  
  .home .heart {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    box-shadow: var(--shadow1);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(65px);
  }
  
  .home .heart i {
    margin: auto;
    color: var(--cream);
  }
  
  .home .couple p,
  h3 {
    color: #0a0a0a;
    font-weight: bold;
  }
  
  .home p {
    font-size: 2rem;
    color: #666;
    font-family: var(--fontdosis);
  }
  .home h3 {
    font-size: 3rem;
    color: #444;
    margin-bottom: 1rem;
    font-family: var(--fontdosis);
  }
  .home h2 {
    font-size: 6rem;
    color: var(--cream);
    font-weight: bold;
    text-shadow: var(--shadow1);
  }
  
  .home .couple {
    margin-top: 100px;
  }
  .home .couple img {
    width: 100%;
  }
  .home .couple h3 {
    font-size: 2, 4rem;
    color: var(--cream);
    font-family: var(--font);
  }

  .home .couple p{
    font-family: var(--fontdosis);
  }
  
  .info {
    font-family:var(--fontsans);
    background-color: white;
    color: var(--bg);
    padding-top: 10rem;
    padding-bottom: 8rem;
    font-weight: bolder;
    text-shadow: var(--shadow);
  }
  
  .info h2 {
    color: var(--cream);
    font-size: 5rem;
    font-weight: bold;
    font-family: var(--font);
    text-shadow: var(--shadow);
  }
  
  .info .alamat {
    font-size: 1, 1rem;
  }
  
  .info .description {
    font-size: 1rem;
    font-weight: 300;
  }
  
  .info .card {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: var(--bg) !important;
    border: 1px solid #999;
  }
  
  .info .card-header {
    border-bottom: 1px solid #999;
    text-transform: uppercase;
    letter-spacing: 0, 1rem;
  }
  
  .info .card-footer {
    border-top: 1px solid #999;
    font-size: 0, 9rem;
    font-weight: 300;
  }
  
  .info .card-body {
    font-size: 1rem;
  }

  .info a{
    background-color: var(--cream);
  }
  
  .sticky-top {
    overflow: hidden;
  }
  
  
  
  .rsvp h2{
    color: var(--cream);
font-family: var(--font);
    font-size: 4.5rem;
    font-weight: bold;
    text-shadow: var(--shadow);
}
.rsvp{
    padding-top: 10rem;
    padding-bottom: 8rem;
    font-family: 'Dosis', sans-serif;
    background-color:#f5f5f5;
}
.rsvp p{
    font-size: 1rem;
    font-weight: 300;
    color: var(--bg);
}

.rsvp form label{
color: var(--bg);
}
.rsvp button {
  background-color: var(--cream);
  color: white;
  border: 1px solid var(--cream);
}

.rsvp button:hover {
  background-color: white;
  color: var(--cream);
  border: 1px solid white;
}

  .gift h2 {
    color: var(--cream);
    font-family: 'Great Vibes';
    font-size: 5rem;
    font-weight: bold;
    text-shadow: var(--shadow1);
  }
  .gift {
    color:var(--cream);
    background-color:white;
    font-family: '';
    font-size: 1rem;
    font-weight: bold ;
    padding-top: 10rem;
    padding-bottom: 8rem;
}
  
.gift span{
text-transform: uppercase;
color: #666;
font-size: 0.9rem;
letter-spacing: 1px;
display: block;
margin-bottom: 1rem;
}
.gift p{
    font-size: 1rem;
    font-weight: 300;
}

.gift .list-group{
  border-bottom: 1px solid #999;
    text-transform: uppercase;
    letter-spacing: 0, 1rem;
}



  footer {
    text-align: center;
      padding: 3rem;
      background-color:#333;
      color:var(--cream);
      font-family: 'Work Sans', sans-serif;
      font-weight: bold;
      font-size: large;
    }
    
    footer a {
      color: var(--bg);
      font-weight: bold;
      text-decoration: none;
    }
    
    footer a:hover {
      color: white;
    }
    
    footer li {
      list-style: none;
      display: inline;
      margin: 0.5rem;
    }
    
    .date {
    color:var(--cream);
    font-family: var(--font);
    font-size: 1rem;
    font-weight: bold ;
    padding-top: 10rem;
    padding-bottom: 8rem;
    text-shadow: var(--shadow);
    background-color: #f5f5f5;
}

.date h2{
  font-size: 3rem;
}

.date h3{
  font-size: 2rem;
}

.story h2,
.gallery h2{
  color: var(--cream);
  font-family: var(--font);
  font-size: 5rem;
  font-weight: bold;
}

.story,
.gallery{
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.story span,
.gallery span{
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
  font-family: var(--fontdosis);
}

.gallery {
  background-color: white;
}

.story {
  background-color: #f5f5f5;
}

.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline::before {
  content: '';
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: #ccc;
  left: 50%;
}

.timeline li .timeline-body{
  font-family: var(--fontdosis);
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: '';
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-image {
  width: 160px;
  height: 160px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #ccc;
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
}

.timeline li .timeline-panel::before {
  content: '';
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  top: 80px;
  right: -15px;
}

.timeline li .timeline-panel::after {
  content: '';
  position: absolute;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  top: 81px;
  right: -13px;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-body,.timeline-heading{
  font-family: var(--fontdosis);
}

.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

/* media query */
  /* extra large */
  @media (max-width: 1200px) {
    .home .heart {
      transform: translateX(-50%) translateY(45px);
    }
  }
  
  /* laptop */
  @media (max-width: 992px) {
    html {
      font-size: 75%;
    }
  
    .simply-countdown > .simply-section {
      padding: 70px;
    }
  
    .home .heart {
      display: none;
    }
  
    .timeline::before {
      left: 60px;
    }
  
    .timeline li .timeline-image {
      left: 15px;
      margin-left: 45px;
      top: 16px;
    }
  
    .timeline li .timeline-panel {
      width: calc((100% - 200px));
      float: right;
    }
  
    .timeline li .timeline-panel::before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto;
    }
  
    .timeline li .timeline-panel::after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -13px;
      right: auto;
    }
  }
  
  /* tablet */
  @media (max-width: 768px) {
    html {
      font-size: 65%;
    }
  
    .simply-countdown > .simply-section {
      padding: 60px;
      margin: 5px;
    }
  
    .mynavbar .nav-link {
      font-size: 2rem;
      text-align: center;
    }
  
    .sticky-top {
      overflow: hidden;
    }
  
    .timeline li .timeline-image {
      width: 140px;
      height: 140px;
    }
  }
  
  /* mobile phone */
  @media (max-width: 576px) {
    html {
      font-size: 60%;
    }
  
    .simply-countdown > .simply-section {
      padding: 45px;
      margin: 3px;
    }
  
    .timeline li .timeline-image {
      width: 80px;
      height: 80px;
    }
  
    .timeline li .timeline-panel {
      width: 65%;
      transform: translateX(-20px);
    }
  
    .timeline li .timeline-panel::before {
      top: 30px;
    }
  
    .timeline li .timeline-panel::after {
      top: 31px;
    }
  }
  
@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}