body {
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    min-height: 4000px;
  }
  
  footer {
    text-align: center;
      padding: 3rem;
      background-color:#333;
      color: rgb(247, 0, 255);
    }
    
    footer a {
      color: var(--bg);
      font-weight: bold;
      text-decoration: none;
    }
    
    footer a:hover {
      color: white;
    }
    
    footer li {
      list-style: none;
      display: inline;
      margin: 0.5rem;
    }
    